@font-face {
   font-family: 'Outfit', sans-serif;
   font-weight: 700;
   src: url('../fonts/Outfit-Bold.ttf');
}

@font-face {
   font-family: 'Outfit', sans-serif;
   src: url('../fonts/Outfit-Regular.ttf');
}